<%#
# Navigation

This partial is used to display the navigation in Administrate.
By default, the navigation contains navigation links
for all resources in the admin dashboard,
as defined by the routes in the `admin/` namespace
%>

<nav class="navigation" role="navigation">
  <% ::RoutesFilter.routes(Administrate::Namespace.new(namespace)).reject{|x| x.to_s.in?(RoutesFilter::HIDDEN_PAGES) }.each do |resource| %>
    <%= link_to(
      display_resource_name(resource),
      [namespace, resource.path],
      class: "navigation__link navigation__link--#{nav_link_state(resource)}"
    ) %>
  <% end %>
  <%= link_to('Notification Configuration', admin_notification_configurations_edit_path, class: 'navifation__link') %>
  <%= link_to('Log out', admin_session_logout_path, class: "navigation__link") %>

</nav>
