---
http_interactions:
- request:
    method: post
    uri: http://testing-chat.com/api/v1/login
    body:
      encoding: UTF-8
      string: '{"user":"fake-admin","password":"111222333"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Instance-Id:
      - nqCtfWg2XTphCBfHp
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "status": "success",
          "data": {
            "authToken": "B_s7BfeRiCqBaXi-wIuvf9OJq4yfJhxgeobrVSdsSSU",
            "userId": "LSBkg4QAkhizPo4TS"
          }
        }
  recorded_at: Fri, 24 Nov 2017 13:44:14 GMT
- request:
    method: post
    uri: http://testing-chat.com/api/v1/channels.archive
    body:
      encoding: UTF-8
      string: '{"roomId":"vG4SiKQqEXaXawPtP"}'
    headers:
      X-Auth-Token:
      - B_s7BfeRiCqBaXi-wIuvf9OJq4yfJhxgeobrVSdsSSU
      X-User-Id:
      - LSBkg4QAkhizPo4TS
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Instance-Id:
      - nqCtfWg2XTphCBfHp
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "success": true
        }
  recorded_at: Fri, 24 Nov 2017 13:44:14 GMT
recorded_with: VCR 3.0.3
