---
http_interactions:
- request:
    method: post
    uri: http://testing-chat.com/api/v1/login
    body:
      encoding: UTF-8
      string: '{"username":"fake-admin","password":"111222333"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Instance-Id:
      - zSJX5oME9egRi5KHW
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "status": "success",
          "data": {
            "authToken": "dU9VH_YrUUJe0yvI32-ArcTjvFOxggeOveEpMc3Ud2Z",
            "userId": "LSBkg4QAkhizPo4TS"
          }
        }
  recorded_at: Mon, 20 Nov 2017 17:55:58 GMT
- request:
    method: get
    uri: http://testing-chat.com/api/v1/channels.list.joined
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Token:
      - dU9VH_YrUUJe0yvI32-ArcTjvFOxggeOveEpMc3Ud2Z
      X-User-Id:
      - LSBkg4QAkhizPo4TS
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Instance-Id:
      - zSJX5oME9egRi5KHW
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "channels": [
            {
              "name": "fortesting",
              "fname": "fortesting",
              "t": "c",
              "msgs": 0,
              "u": {
                "_id": "LSBkg4QAkhizPo4TS",
                "username": "fake-admin"
              },
              "customFields": {},
              "ts": "2017-11-20T17:53:18.070Z",
              "ro": false,
              "sysMes": true,
              "_updatedAt": "2017-11-20T17:53:18.071Z",
              "_id": "yrxuZP4xDrgvdp47H",
              "usernames": [
                "ale"
              ],
              "username": "ale"
            },
            {
              "_id": "GENERAL",
              "ts": "2017-10-26T16:14:45.920Z",
              "t": "c",
              "name": "general",
              "msgs": 391,
              "default": true,
              "_updatedAt": "2017-11-20T15:53:21.082Z",
              "lm": "2017-11-20T15:53:21.051Z",
              "username": "ale",
              "usernames": [
                "rick",
                "morty",
                "mrpickle",
                "petergriffin",
                "loisgriffin",
                "stewiegriffin",
                "quagmire",
                "cleveland",
                "bart",
                "homer",
                "marge",
                "lisa",
                "moe",
                "lenny",
                "carl",
         [...]
