---
http_interactions:
- request:
    method: post
    uri: http://testing-chat.com/api/v1/login
    body:
      encoding: UTF-8
      string: '{"username":"fake-admin","password":"111222333"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Instance-Id:
      - fpCD4j59CEfrWMEyj
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "status": "success",
          "data": {
            "authToken": "s4YIhsEl7vNWfboesgBjvu4so11lMnfTlHTD4hpmqhX",
            "userId": "LSBkg4QAkhizPo4TS"
          }
        }
  recorded_at: Wed, 01 Nov 2017 18:03:33 GMT
- request:
    method: post
    uri: http://testing-chat.com/api/v1/chat.postMessage
    body:
      encoding: UTF-8
      string: '{"channel":"#general","text":"Testing testing..."}'
    headers:
      X-Auth-Token:
      - s4YIhsEl7vNWfboesgBjvu4so11lMnfTlHTD4hpmqhX
      X-User-Id:
      - LSBkg4QAkhizPo4TS
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Instance-Id:
      - fpCD4j59CEfrWMEyj
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "ts": 1509559414225,
          "channel": "#general",
          "message": {
            "alias": "",
            "msg": "Testing testing...",
            "parseUrls": true,
            "groupable": false,
            "ts": "2017-11-01T18:03:34.202Z",
            "u": {
              "_id": "LSBkg4QAkhizPo4TS",
              "username": "ale",
              "name": "ale"
            },
            "rid": "GENERAL",
            "mentions": [],
            "channels": [],
            "_updatedAt": "2017-11-01T18:03:34.209Z",
            "_id": "q33Ju4EBgskHTxmqD"
          },
          "success": true
        }
  recorded_at: Wed, 01 Nov 2017 18:03:34 GMT
recorded_with: VCR 3.0.3
