---
http_interactions:
- request:
    method: post
    uri: http://testing-chat.com/api/v1/login
    body:
      encoding: UTF-8
      string: '{"username":"fake-admin","password":"111222333"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Instance-Id:
      - fpCD4j59CEfrWMEyj
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "status": "success",
          "data": {
            "authToken": "XUSzUgileALIHbn1JuqilzZaeOnkmayn72DEQ3GGt0e",
            "userId": "LSBkg4QAkhizPo4TS"
          }
        }
  recorded_at: Wed, 01 Nov 2017 18:14:07 GMT
- request:
    method: post
    uri: http://testing-chat.com/api/v1/chat.postMessage
    body:
      encoding: UTF-8
      string: '{"channel":"@bart","text":"Hi there Bart!"}'
    headers:
      X-Auth-Token:
      - XUSzUgileALIHbn1JuqilzZaeOnkmayn72DEQ3GGt0e
      X-User-Id:
      - LSBkg4QAkhizPo4TS
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Instance-Id:
      - fpCD4j59CEfrWMEyj
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "ts": 1509560047361,
          "channel": "@bart",
          "message": {
            "alias": "",
            "msg": "Hi there Bart!",
            "parseUrls": true,
            "groupable": false,
            "ts": "2017-11-01T18:14:07.338Z",
            "u": {
              "_id": "LSBkg4QAkhizPo4TS",
              "username": "ale",
              "name": "ale"
            },
            "rid": "LSBkg4QAkhizPo4TSa2H9WwBYWWhmBjJHn",
            "mentions": [],
            "channels": [],
            "_updatedAt": "2017-11-01T18:14:07.345Z",
            "_id": "k5qAun3ujFAvaeFWP"
          },
          "success": true
        }
  recorded_at: Wed, 01 Nov 2017 18:14:07 GMT
recorded_with: VCR 3.0.3
