---
http_interactions:
- request:
    method: post
    uri: http://testing-chat.com/api/v1/login
    body:
      encoding: UTF-8
      string: '{"username":"fake-admin","password":"111222333"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Instance-Id:
      - fpCD4j59CEfrWMEyj
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "status": "success",
          "data": {
            "authToken": "OOx6rHGRX8n9ijD38qhPdVvtd2fIWX9PnNYq8A1vFVM",
            "userId": "LSBkg4QAkhizPo4TS"
          }
        }
  recorded_at: Wed, 01 Nov 2017 18:25:48 GMT
- request:
    method: post
    uri: http://testing-chat.com/api/v1/users.create
    body:
      encoding: UTF-8
      string: '{"username":"mike_chatkinson","email":"mike_chatkinson@mail.com","name":"Mike
        Chatkinson","password":"1234567890","active":true,"joinDefaultChannels":true,"requirePasswordChange":false,"sendWelcomeEmail":false,"verified":true}'
    headers:
      X-Auth-Token:
      - OOx6rHGRX8n9ijD38qhPdVvtd2fIWX9PnNYq8A1vFVM
      X-User-Id:
      - LSBkg4QAkhizPo4TS
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Instance-Id:
      - fpCD4j59CEfrWMEyj
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "success": false,
          "error": "mike_chatkinson is already in use :( [error-field-unavailable]",
          "errorType": "error-field-unavailable"
        }
  recorded_at: Wed, 01 Nov 2017 18:25:48 GMT
recorded_with: VCR 3.0.3
