---
http_interactions:
- request:
    method: post
    uri: http://testing-chat.com/api/v1/login
    body:
      encoding: UTF-8
      string: '{"username":"fake-admin","password":"111222333"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Instance-Id:
      - fpCD4j59CEfrWMEyj
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "status": "success",
          "data": {
            "authToken": "DgrOUWo1inrvWCmbOHvRChLKPzROABTujyn_NG_0eox",
            "userId": "LSBkg4QAkhizPo4TS"
          }
        }
  recorded_at: Wed, 01 Nov 2017 18:23:45 GMT
- request:
    method: post
    uri: http://testing-chat.com/api/v1/users.create
    body:
      encoding: UTF-8
      string: '{"username":"julio lopez gomez","email":"fakeemailforjulio@mail.com","name":"Julio
        Lopez Gomez","password":"1234567890","active":true,"joinDefaultChannels":true,"requirePasswordChange":false,"sendWelcomeEmail":false,"verified":true}'
    headers:
      X-Auth-Token:
      - DgrOUWo1inrvWCmbOHvRChLKPzROABTujyn_NG_0eox
      X-User-Id:
      - LSBkg4QAkhizPo4TS
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Instance-Id:
      - fpCD4j59CEfrWMEyj
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "success": false,
          "error": "julio lopez gomez is not a valid username [error-input-is-not-a-valid-field]",
          "errorType": "error-input-is-not-a-valid-field"
        }
  recorded_at: Wed, 01 Nov 2017 18:23:46 GMT
recorded_with: VCR 3.0.3
