---
http_interactions:
- request:
    method: post
    uri: http://testing-chat.com/api/v1/login
    body:
      encoding: UTF-8
      string: '{"username":"fake-admin","password":"111222333"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Instance-Id:
      - fpCD4j59CEfrWMEyj
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "status": "success",
          "data": {
            "authToken": "aRbzucIwFAKOLSlN9rWzLEY5w2H3AvVn-XPbkQRnfod",
            "userId": "LSBkg4QAkhizPo4TS"
          }
        }
  recorded_at: Wed, 01 Nov 2017 18:22:37 GMT
- request:
    method: post
    uri: http://testing-chat.com/api/v1/users.create
    body:
      encoding: UTF-8
      string: '{"username":"mike_chatkinson","email":"mikechatkinson@mail.com","name":"Mike
        Chatkinson","password":"1234567890","active":true,"joinDefaultChannels":true,"requirePasswordChange":false,"sendWelcomeEmail":false,"verified":true}'
    headers:
      X-Auth-Token:
      - aRbzucIwFAKOLSlN9rWzLEY5w2H3AvVn-XPbkQRnfod
      X-User-Id:
      - LSBkg4QAkhizPo4TS
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Instance-Id:
      - fpCD4j59CEfrWMEyj
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "user": {
            "createdAt": "2017-11-01T18:22:37.475Z",
            "_id": "erAnSAvDt5Sp4wjL3",
            "services": {
              "password": {
                "bcrypt": "$2a$10$t1eMXHfOd1dnGxBpbBjgduulwzW7ApcnYc/Xrh4dMy6AAc0BNG9CG"
              }
            },
            "username": "mike_chatkinson",
            "emails": [
              {
                "address": "mikechatkinson@mail.com",
                "verified": true
              }
            ],
            "type": "user",
            "status": "offline",
            "active": true,
            "name": "Mike Chatkinson",
            "_updatedAt": "2017-11-01T18:22:37.581Z",
            "roles": [
              "user"
            ],
            "requirePasswordChange": false
          },
          "success": true
        }
  recorded_at: Wed, 01 Nov 2017 18:22:37 GMT
recorded_with: VCR 3.0.3
